*.csv
*.fit
*.fits
*.fts
*.parquet
*~
.DS_Store
.cache/
.cz-cache/
.direnv/
.env
.envrc.local
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.rumdl_cache/
.venv/
.vscode/
Thumbs.db
__pycache__/
