!data/**/.gitkeep
*.log
*.onnx
*.pt
*.pth
*.safetensors
*~
.DS_Store
.direnv/
.env
.envrc.local
.idea/
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
Thumbs.db
__pycache__/
data/01_raw/*
data/02_processed/*
data/03_features/*
mlruns/
runs/
wandb/
*.csv
*.fit
*.fits
*.fts
*.parquet
.mypy_cache/
