!data/samples/**/.gitkeep
*.aiff
*.flac
*.mid
*.midi
*.mp3
*.ogg
*.wav
*~
.DS_Store
.direnv/
.env
.envrc.local
.idea/
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
Thumbs.db
__pycache__/
data/samples/**/*.wav
